<div class="container">
    <h1 class="text-center txthead">Read All About It</h1>
    {{#if article}} {{#each article}}
    <div class="card displayarticle">
        <div class="card-block">
            <h4 class="card-title">{{this.title}}</h4>
            <div class="row">
                <div class="col-md-6">
                    <p><a href="{{this.link}}" target="_blank">See Full Article</a></p>
                </div>
                <div class="col-md-6">
                    <a href="/save/{{this.id}}" class="float-right btn btn-primary align-middle">Save</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}{{else}}
    <div class="alert alert-danger" role="alert">
        <strong>Oops!</strong> You haven't scraped any articles yet!
    </div>
    {{/if}}
</div>